/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    --dk-blue: #22177A;
    --md-blue: #605EA1;
    --dk-gray: #222;
    --gray: #EEEEEE;
    --wht: #fff;

    --heading-fonts: "capellina-bold-caps", serif;
    --body-fonts: "mantinia", serif;

    --box-shadow-sm: -3px 3px 6px var(--dk-gray);
    --box-shadow-lg: -6px 6px 10px var(--dk-gray);


}

/* ----- BODY STYLES ----- */
body{
    width: 1440px;
    margin: 0 auto;
    font-family: var(--body-fonts);
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    color: var(--dk-blue);
    background: radial-gradient(circle, rgba(238, 235, 240, 1) 0%, rgba(197, 197, 222, 1) 32%, rgba(156, 209, 219, 1) 100%);
    line-height: 1.5;


}

/* ----- HEADER STYLES ----- */
header, footer{
    background-color: var(--wht);
    opacity: 0.8;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow-lg);
}


header{
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: .2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    width: 1440px;
    margin: 0 auto;
   
}


/* ----- HEADING STYLES ----- */
h1{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: var(--heading-fonts);
    font-size: 4em;
    font-weight: 700;
    font-style: normal;
    justify-content: left;
    align-content: left;
}

a{
    text-decoration: none;
}

/* ----- NAVIGATION STYLES ----- */
nav{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: left;
    align-content: left;
   
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 10px;
    align-content: space-between;
    justify-content: center;

}

nav a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--md-blue);
    color: var(--gray);
    text-align: center;
    box-shadow: var(--box-shadow-sm);
}

nav a:hover{
    color: var(--md-blue);
    background-color: var(--gray);
}



/* ----- IMAGE STYLES ----- */
header img{
    grid-column: 1/-1;
    grid-row: 2/3;
    width: 1440px;
    height: 560px;

}
/* ----- MAIN STYLES ----- */
main{
    width: 1280px;
    padding: 1rem;
    margin: 0 auto;

}

main section{
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
}

main h2{
    font-family: var(--heading-fonts);
    font-size: 2.5em;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

main p{
    padding: 1rem;
    margin: 0 auto;
}

#amenities{
    display: grid;
    grid-template-columns: 600px 456px;
    grid-template-rows: 80px 340px;
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
}

img{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: center;
}

h3{
    font-family: var(--heading-fonts);
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
    margin: 0 auto;
}

p{
	margin-top: 12px;
    justify-content: center;
}

#escape{
    display: grid;
    grid-template-columns: 600px 456px;
    grid-template-rows: 80px 340px;
    padding: 1rem;
    margin: 0 auto;
}

img{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: center;
}

h3{
    font-family: var(--heading-fonts);
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
}

#contact {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;

   
}

#form{
    display: grid;
    grid-template-columns: 370px 530px;
    margin: 0 auto;
    padding: 1rem;

    
}

form{
    width: 350px;
    justify-content: center;
    margin: 16px auto;
    padding: 16px;
    background-color: var(--md-blue);
    color: var(--gray);
    border-radius: 4px;
    

}

input, label, textarea{
	display: block;
	width: 90%;
}

label{
	margin: 5px 0 5px 10px;
	font-weight: bold;
}

input, textarea{
	padding: 10px;
	font-size: 1em;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px inset var(--dk-gray);
}

fieldset{
	margin-bottom: 15px;
	border-radius: 4px;
	border-color: var(--dk-gray);
	display: grid;
	grid-template-columns: 1fr;

	row-gap: 8px;
}

legend{
	font-weight: bold;
}

fieldset label{
    margin-left: 0;
}

input[type="submit"]{
	background-color: var(--gray);
	border: none;
	color: var(--md-blue);
	font-size: 1em;
	font-weight: bold;
	box-shadow: var(--box-shadow-sm);
    margin-left: 14px;
}

input:invalid, select:invalid, textarea:invalid{
	border: 4px solid var(--dk-blue);
	box-shadow: var(--box-shadow-sm);
}

input:focus, select:focus, textarea:focus{
	outline: 4px solid var(--dk-blue);
}

input[type="submit"]:focus{
	outline: 4px solid var(--dk-blue);
}

input[type="submit"]:hover{
	box-shadow: var(--box-shadow-sm);
}

input[type="radio"] + label {
   	cursor: pointer;
	display: flex;
	align-items: center;
}

input[type="radio"] {
   	appearance: none;
   	margin: 0;
	padding: 0;
	border: none;
	font-size: 0;
	border-radius: 0;
}

input[type="radio"] + label::before {
   	content: "\00a0";
	font-size: 1em;
	line-height: 1.25;
   	border-radius: 50%;
   	display: inline-block;  
   	height: 16px;
   	width: 18px;
   	text-align: center;
   	margin-right: 16px;
   	border: 2px solid white;  
   	background-color: var(--wht);
	padding-bottom: 2px;
}

input[type="radio"]:checked + label::before {
   	content: "\2022";
   	color: var(--wht);
   	background: var(--dk-gray);
}

input[type="radio"]:focus{
	outline: none;
}

input[type="radio"]:focus + label::before {
   	box-shadow: 0 0 0 2px var(--dk-gray);
}

footer{
    padding: 1rem;
    margin: 0 auto;
    text-align: center;

}